body{
	margin: 0;
	padding: 0;
	background-color: #fff;
	font-family: "微软雅黑";
}
a{
	text-decoration: none;
}
/*导航条区域*/
.header{
	position: fixed;
	top: 0;
	height: 60px;
	width: 100%;
}
.header__wrap{
	height: 60px;
	margin: 0 auto;
}
.header__logo{
	width: 170px;
	height: 40px;
 	font-size: 18px;
 	color: #fff;
 	text-align: center;
 	line-height: 40px;
 	background:url("../img/logo.png") no-repeat;
 	position: absolute;
 	left: 10px;
 	top: 10px;
 	text-indent: 20px;
 	font-weight: bold;
}
.header__logo:hover{
	cursor: pointer;
	color: rgba(0,0,0,.6);
}
.header__nav{
	position: absolute;
	right: 30px;
	top: 10px;
	overflow: hidden;
}
.header__nav-item{
	display: block;
	font-size: 14px;
	float: left;
	width: 60px;
	height: 40px;
	color: #fff;
	padding-left: 39px;
	line-height: 40px;
	text-align: center;
	font-weight: bold;
}
.header__nav-item_status_active{
	color: #fff;
}
.header__nav-item_custom_botton{
	width: 95px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	background-color: #f01400;
	border-radius: 3px;
	padding-left: 0;
	margin-left: 39px;
}
.header__nav-item_custom_botton:hover{
	background: rgba(255,0,0,.7);
}
/*第一屏*/
.screen-1{
	height: 640px;
	background: url("../img/sc1.jpg") no-repeat;
	background-size: cover;
	padding-top: 50px;
}
.screen-1__wrap{
	width: 1200px;
	margin: 0 auto;
	text-align: center;
	color: #fff;
}
.screen-1__heading{
	font-size: 48px;
	padding-top: 185px;
	font-weight: bold;
}
.screen-1__subheading{
	font-size: 16px;
	margin-top: 32px;
}
/*第二屏*/
.screen-2{
	background-color: #f3f5f7;
	height: 640px;
	background-image:url("../img/sc2.png");
	background-repeat: no-repeat;
	background-position: center bottom;
	position: relative;
	overflow: hidden;
}	
.screen-2__shade{
	height: 384px;
	width: 1200px;
	position: absolute;
	left: 50%;
	margin-left: -600px;
}
.screen-2__sc2-2{
	position: absolute;
	right: 368px;
	bottom: 100px;
	z-index: 1;
}
.screen-2__sc2-1{
	position: absolute;
	margin: 0 auto;
	left: 0;
	right: 0;
    bottom: 0;
    z-index: 2;
}
.screen-2__wrap{
	width: 1200px;
	margin: 0 auto;
	text-align: center;
	color: #07111b;
}
.screen-2__heading{
	font-size: 48px;
	padding-top: 87px;
	font-weight: bold;
}
.screen-2__tip{
	width: 50px;
	height: 3px;
	background: #ff0000;
	margin: 35px auto 25px;

}
.screen-2__subheading{
	font-size: 16px;
	margin-top: 25px;

}
/*第三屏*/
.screen-3{
	height: 640px;
	background-color: #2b333b;
	position: relative;
	overflow: hidden;
}
.screen-3__sc3{
	width: 308px;
	height: 340px;
	position: absolute;
	left: 125px;
	top: 50%;
	margin-top: -170px;
}
.screen-3__wrap{
	width: 800px;
	color: #fff;
	position: absolute;
	top: 230px;
	right: 0;
}
.screen-3__heading{
	font-size: 36px;
	font-weight: bold;
}
.screen-3__tip{
	width: 50px;
	height: 3px;
	background: #ff0000;
	margin: 28px 0 25px 0;
}
.screen-3__subheading{
	font-size: 16px;
}
.screen-3__subject{
	width: 800px;
	position: absolute;
	bottom: 50px;
	right: 0;
	margin-right: -13px;
}
.screen-3__subject__item{
	float: left;
	width: 70px;
	height: 70px;
	border-radius: 50%;
	margin-right: 35px;
	line-height: 70px;
	text-align: center;
}
.screen-3__subject__item_i_1{
	border: solid 2px #1f5975;
	color: #1f5975;
}
.screen-3__subject__item_i_2{
	border: solid 2px #424d76;
	color: #424d76;
}
.screen-3__subject__item_i_3{
	border: solid 2px #6b4146;
	color: #6b4146;
}
.screen-3__subject__item_i_4{
	border: solid 2px #29535f;
	color: #29535f;
}
.screen-3__subject__item_i_5{
	border: solid 2px #3e4e40;
	color: #3e4e40;
}
/*第四屏*/
.screen-4{
	height: 640px;
	background-color: #f3f5f7;
	position: relative;
	overflow: hidden;
}
.screen-4__wrap{
	width: 1200px;
	color: #07111b;
	margin: 0 auto;
	text-align: center;
	padding-top: 88px;
}
.screen-4__heading{
	font-size: 48px;
	font-weight: bold;
}
.screen-4__tip{
	width: 50px;
	height: 3px;
	background: #ff0000;
	margin: 35px auto 22px;
}
.screen-4__subheading{
	font-size: 16px;
}
.screen-4__type{
	width: 1200px;
	height: 118px;
	margin-top: 80px;
}
.screen-4__type__item{
	width: 300px;
	height: 118px;
	text-align: center;
	float: left;
}
.screen-4__type__item_i_1{
	background: url("../img/sc4-1.png") no-repeat center top;
}
.screen-4__type__item_i_2{
	background: url("../img/sc4-2.png") no-repeat center top;
}
.screen-4__type__item_i_3{
	background: url("../img/sc4-3.png") no-repeat center top;
}
.screen-4__type__item_i_4{
	background: url("../img/sc4-4.png") no-repeat center top;
}
.screen-4__type__item__desc{
	font-size: 16px;
	padding-top: 100px;
}
/*第五屏*/
.screen-5{
	height: 640px;
	background: url("../img/sc5.jpg")  no-repeat;
	background-size: cover;
	position: relative;
	overflow: hidden;
}
.screen-5__wrap{
	width: 1200px;
	color: #fff;
	margin: 0 auto;
	text-align: center;
}
.screen-5__sc5-1{
	width: 208px;
	height: 208px;
	padding-top: 100px;
}
.screen-5__heading{
	font-size: 48px;
	font-weight: bold;
	margin-top: 54px;
}
.screen-5__tip{
	width: 50px;
	height: 3px;
	background: #ff0000;
	margin: 28px auto 28px;
}
.screen-5__subheading{
	font-size: 16px;
}
/*继续了解学习体验*/
.screen-know{
	background: #fff;
	height: 200px;
	position: relative;
}
.screen-know__button{
	display: block;
	width: 240px;
	height: 60px;
	margin: auto;
	text-align: center;
	line-height: 60px;
	border: 1px solid #707070;
	border-radius: 3px;
	color: #14191e;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
.screen-know__button:hover{
	color: #f00;
}
/*页脚*/
.footer{
	height: 105px;
	background: #000;
	position: relative;
}
.footer__wrap{
	width: 1200px;
	height: 50px;
	position: absolute;
	top: 50%;
	margin-top: -25px;
	left: 50%;
	margin-left: -600px;
	text-align: center;
}
.footer__nav{
	width: 704px;
	height: 15px;
	margin: 0 auto;
}
.footer__nav__item{
	display: block;
	float: left;
	font-size: 12px;
	height: 15px;
	width: 55px;
	line-height: 15px;
	text-align: center;
	margin-right: 33px;
	color: #c8cdd2;
}
.footer__infor:hover,
.footer__nav__item:hover{
	color: #f00;
}
.footer__infor{
	margin-top: 14px;
	font-size: 14px;
	color: #787d82;
	cursor: pointer;
}
/*右侧大纲导航条*/
.outline{
	position: fixed;
	padding: 5px 10px;
	right: 0;
	bottom: 120px;
	background: #fff;
	z-index: 3;
	box-shadow: 0 4px 12px rgba(0,0,0,.5);
}
.outline__item{
	display: block;
	width: 40px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	padding: 5px 0;
	background: #fff;
	margin: 5px 0;
	color: #07111b;
}
.outline__item_status_active,
.outline__item:hover{
	color: #f00;
}
.header__nav__tip{
	width: 60px;
	height: 2px;
	position: absolute;
	bottom: 0;
	left: 0;
	margin-left: 39px;
	background: #f00;
	transition: all .5s;
}